<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Bracket Generator <span ng-show="currentUser">Welcome back {{ currentUser.name }}</span>!</h1>
  <p class="lead">
    Generate Single and Double Elimination Brackets
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/all">Splendid, Let's Get Started!</a></p>
</div>

<div class="footer">
  <p>♥ from Dad</p>
  <p>Built with <a href="https://github.com/DaftMonk/generator-angular-fullstack">generator-angular-fullstack</a></p>
  <p>and <a href="http://www.aropupu.fi/bracket/">jquery brackets</a></p>
</div>
